*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FFEFF0;
}
h1 {
	margin: 20px 0;
	text-align: center;
}

.menu {
	margin: 20px;
	text-align: center;
	font-size: 18px;
	background-color: #afa;
}

.submenu{
	margin: 10px 10px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

